<h1 id="callToAction"></h1>
<div class="container" style="margin-top: 1em;">
<div class="row">

  <div class="col-md-4">
    <img id="index-image-1" class="img-fluid" src="images/test.jpg" alt="Playing with AI - Stable diffusion">
  </div>
  <div class="col-md-4">
    <img id="index-image-2" class="img-fluid" src="images/testThree.jpg" alt="Playing some more with AI - Stable diffusion">
  </div>
  <div class="col-md-4">
    <img id="index-image-3" class="img-fluid" src="images/testTwo.jpg" alt="Another AI generated image with stable diffusion">
  </div>

  <div class="col-md-12">
    <h2 id="index-article-header">Generating Images with AI</h2>
	<p>Lorem ipsum some more and more and more and more and more and more and lorem ipsum bone!</p>

  </div>
</div>
</div>
