article{
    min-height: 600px;
}
#callToAction {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.fade-in {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

@media only screen and (min-width: 768px) {

.type-header {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #535353; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .08em; /* Adjust as needed */
    animation: 
      typing 2.8s steps(36, end),
      blink-caret .5s step-end infinite;
  }
  .type-header{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
}
